<form class="form-horizontal" action="/players/create" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="hidden" name="player[team_id]" value="<%= @team.id %>">
<fieldset>

<!-- Form Name -->
<legend>Join <%= @team.name %></legend>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="player[position]">Position(s):</label>  
  <div class="col-md-4">
      <select name="player[position]" id="player[position]">
            <option value="P">P</option>
            <option value="C">C</option>
            <option value="1B">1B</option>
            <option value="2B">2B</option>
            <option value="3B">3B</option>
            <option value="SS">SS</option>
            <option value="OF">OF</option>
      </select>
  </div>
</div>
<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <input type="submit" value="Join Team!"class="btn btn-primary">
  </div>
</div>

</fieldset>
</form>