// Place all the styles related to the Team controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#wrapper {
    padding: 10px;
}
#scheduleDiv {
    overflow: auto;
    display: inline-block;
    height: 300px;
    
    margin-left: 50px;
    background-color: white;
    opacity: 0.8;
    border-radius: 20px;

}


#TeamInfoDiv {
    display: inline-block;
    height: 300px;
    
    font-size: 18px;
    margin-left: 50px;
    background-color: white;
    opacity: 0.8;
    border-radius: 20px;

    
}
#buttonDiv{
    width: 100px;
    height: 450px;
    display: inline-block;
    background-color: white;
    opacity: 0.8;
    border-radius: 20px;

}
#otherplayersDiv {
    display: inline-block;
    height: 300px;
    overflow: auto;
    margin-left: 50px;
    background-color: white;
    opacity: 0.8;
    border-radius: 20px;

    
}
#bulletinDiv {
    overflow: auto;
    display: inline-block;
    vertical-align: bottom;
    width: 40%;
    height: 200px;
    background-color: white;
    opacity: 0.8;
    border-radius: 20px;
    margin-left: 100px;
    padding-top: 10px;


}
#bulletinForm{
    background-color: white;
    opacity: 0.8;
    border-radius: 20px;
    display: inline-block;
    margin-left: 20px;
    width: 40%;
    height: 200px;
    padding-top: 10px;

}
#logoutButton {
    width: 125px;
}

#linkage1 {
    padding-right: 3px;
}
#linkage2 {
    padding-right: 3px;
}
#linkage {
    margin-left: 39%;
    display: inline-block;
}
#dashButton {
    width: 125px;
}
#messageButton {
    width: 125px;
}
#bulletinRow{
    margin-top: 20px;
}