// Place all the styles related to the Team controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#wrapper {
    padding: 10px;
}
#scheduleDiv {
    overflow: auto;
    display: inline-block;
    height: 300px;
    
    margin-left: 50px;
}


#TeamInfoDiv {
    display: inline-block;
    height: 300px;
    
    font-size: 18px;
    margin-left: 50px;
    
}
#buttonDiv{
    width: 100px;
    height: 450px;
    display: inline-block;
}
#otherplayersDiv {
    display: inline-block;
    height: 300px;
    overflow: auto;
    margin-left: 50px;
    
}
#bulletinDiv {
    overflow: auto;
    display: inline-block;
    vertical-align: bottom;
    width: 50%;
    height: 200px;

}
#logoutButton {
    width: 125px;
}

#linkage1 {
    padding-right: 3px;
}
#linkage2 {
    padding-right: 3px;
}
#linkage {
    margin-left: 39%;
    display: inline-block;
}
#dashButton {
    width: 125px;
}
#messageButton {
    width: 125px;
}